body{
    font-size:2em;
    background-color:#bbb;
    color:#FFF;
  margin:0px;
  padding:0px;
  font-family:Arial;
}

#content{
	margin:0px auto;
	width:1004px;
}

#canvas{
	border:1px solid #ccc;
}
.phases { display:block;border:1px solid #ddd;clear:both;  }
.phases li { float:left;list-style:none;margin:0 20px 0 0; }
.levels li { clear:both;list-style:none;margin:0 20px 0 0; }

.expandableLevelData{  
	display:none;	
}
