body{
    font-size:2em;
    background-color:#bbb;
    color:#FFF;
  margin:0px;
  padding:0px;
  font-family:Arial;
}

#content{
	margin:0px auto;
	width:1004px;
}

#canvas, #messages{
	border:1px solid #ccc;
}
h1, h2, h3{ margin:0 0 10px 0  }
.phases { display:block;border:1px solid #ddd;clear:both;  }
.phases li { float:left;list-style:none;margin:0 20px 0 0; }
.levels li { clear:both;list-style:none;margin:0 20px 0 0; }
.guides{
   padding:0 0 0 20px;
   display:none;	
   color:#333;
}
.expandableLevelData{  
	padding:0 0 0 20px;
	display:none;	
	color:#333;
}
a { color:#ddd; }
