body{
    font-size:2em;
    background-color:#bbb;
    color:#FFF;
  margin:0px;
  padding:0px;
  font-family:Arial;
}

#content{
	margin:0px auto;
	width:1004px;
}

#canvas, #messages{
	border:1px solid #ccc;
}

.visualiser-header {
    margin-top: 60px;
}

.phases { display:block;border:1px solid #ddd;clear:both;  }
.phases li { float:left;list-style:none;margin:0 20px 0 0; }
.levels li { clear:both;list-style:none;margin:0 20px 0 0; }
.guides{
   padding:0 0 0 20px;
   display:none;	
   color:#333;
}
.expandableLevelData{  
	padding:0 0 0 20px;
	display:none;	
	color:#333;
}
a { color:#ddd; }

text {
    font-size: 11px;
    pointer-events: none;
}

text.parent {
    fill: #1f77b4;
}

circle {
    fill: #ccc;
    stroke: #999;
    pointer-events: all;
}

circle.parent {
    fill: #1f77b4;
    fill-opacity: .1;
    stroke: steelblue;
}

circle.parent:hover {
    stroke: #ff7f0e;
    stroke-width: .5px;
}

circle.child {
    pointer-events: none;
}
/* block */
.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

/* sunburst */
path {
    stroke: #000;
    stroke-width: 1.5;
    cursor: pointer;
}