<!doctype html>
<html>
<head>
    <title>Curriculum Visualiser</title>

    <link type="text/css" rel="stylesheet" href="/css/visualiser.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
</head>

<body>
<div id="content">
    <h1>Curriculum Visualiser</h1>

    <p>A tool to visualise the
        <a href="http://www.bbc.co.uk/ontologies/curriculum/2013-04-03.shtml" title="Curriculum ontology">Curriculum
            ontology</a> used by the
        <a href="http://www.bbc.co.uk/education" title="Knowledge and Learning Beta site">Knowledge and Learning Beta
            site</a>.</p>

    <ul class="navigation">
        <li><a href="#" id="pack_nav">Pack Layout</a></li>
        <li><a href="#" id="sunburst_nav">Sunburst</a></li>
    </ul>

    <div class="chart"></div>
</div>

<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/d3.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
