<!doctype html>
<html>
  <head>
    <title>Curriculum Visualiser</title>

    <link type="text/css" rel="stylesheet" href="/css/visualiser.css" />
  </head>

  <body>
    <div id="content">
      <h1>Curriculum Visualiser</h1>

      <p>A tool to visualise the <a href="http://www.bbc.co.uk/ontologies/curriculum/2013-04-03.shtml" title="Curriculum ontology">Curriculum ontology</a> used by the <a href="http://www.bbc.co.uk/education" title="Knowledge and Learning Beta site">Knowledge and Learning Beta site</a>.</p>

      <div id='messages'></div>
      <div id='template-div'></div>
      <script id='phases-template' type='text/x-handlebars-template'>
        <h2>phases</h2>
        {{#each phases}}<ul class='phases'>
          <li>
            Name:
            {{name}}
          </li>
          <li>
            Lower age:
            {{lower_age}}
          </li>
          <li>
            Upper age:
            {{upper_age}}
          </li>
          <ul class='levels'>
            <li>
              <h3>levels</h3>
            </li>
            {{#each levels}}<li><a event-action='clicked' event-on='click' onClick='javascript:visualGuide.showLevelData(this)'>
              Name:
              {{name}}            </a></li>
            <div class='expandableLevelData'>
              <li><a class='widget' href='#' onClick='javascript:visualGuide.getLevelsFromUID(this)'>
                ID:
                {{id}}              </a></li>
              <li>Description:{{description}}</li>
            </div>{{/each}}
          </ul>
        </ul>{{/each}}
      </script>
      <script id='levels-template' type='text/x-handlebars-template'>
        <h2>levels</h2>
        {{#each phases}}<ul class='phases'>
          <li>
            Name:
            {{name}}
          </li>
        </ul>{{/each}}
      </script>
    </div>

    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/d3.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
