!!! 5
%html
  %head
    %title Curriculum Visualiser
    %script{:type => "text/javascript", src:"/js/jquery-1.10.2.js"}
    %script{:type => "text/javascript", src:"/js/handlebars.runtime-v1.3.0.js"}
    %script{:type => "text/javascript", src:"/js/app.js"}

  %body
    %div#content
      %h1 Curriculum Visualiser

      %p
        A tool to visualise the Curriculum ontology used by the
        %a{ :href => 'http://www.bbc.co.uk/education', :title => 'Knowledge and Learning Beta site' } Knowledge and Learning Beta site
